@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
html { scroll-behavior: smooth; }
/* Variables */
:root {
  --primary-color: #007bff; /* Warna utama (misalnya biru) */
  --secondary-color: #F3F0E5; /* Warna sekunder (misalnya abu-abu) */
  --background-color:  #D9D9D9; /* Warna latar belakang */
  --text-color: #212529; /* Warna teks utama */
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif; /* Ganti font sesuai kebutuhan */
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* about */
.custom-header {
  background-color: white;
  color: black;
}

.header-section .container {
  padding: 20px; /* Menambahkan padding */
}

.carousel-inner .panda-bg-info {
  background-color: #f8f9fa; /* Warna abu-abu muda */
}

.typed-cursor {
  display: none; /* Menghilangkan kursor kedip-kedip */
}


.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive styles */
@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

/* Service */
#servise{
  background-color: var(--primary-color);
}
#services .card {
  transition: transform 0.3s;
}

#services .card:hover {
  transform: scale(1.05);
}

/* gallery dari sini */
.grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 50px;
}
.grid > .item1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.grid > .item2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.grid > .item3 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.grid > .item4 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.grid > .item5 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.grid > .item6 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.grid > .item7 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/* gallery sampai sini */

/* Testimoni */

.testimoni{
  padding: 80px 0px;
  min-height: 80vh;
  border-radius: 10px;
}
.testi-img .img-box{
  max-width: 360px;
  margin:auto;
  text-align: center;
  position: relative;
}

.testi-img .img-box-inner{
  position: relative;
}

.testi-img .img-box-inner img{
  max-width: 310px;
}
.testimoni .carousel-inner{
  margin-bottom: 20px;
}
.testimoni .carousel-control-prev{
  margin-right: 10px;
}
.testimoni .carousel-control-next, 
.testimoni .carousel-control-prev{
  position: relative;
  height: 35px;
  width: 35px;
  background-color: #12294E;   
  display: inline-flex;
  border-radius: 50%;
}
.testimoni .carousel-control-prev img,
.testimoni .carousel-control-next img{
  width: 15px;
}
.testi-item h3,
.testi-item p{
  font-size: 18px;
}
.testi-item h3{
  text-transform: capitalize;
}

/* Responsive */
@media(max-width:991px){
  .testi-img .img-box{
      max-width: 300px;
  }
  .testi-img .img-box-inner{
      border-radius: 0 0 150px 150px;
  }
  .testi-img .img-box-inner img{
      max-width: 230px;
  }
}
@media(max-width:767px){
  .testi-img{
      margin-bottom: 25px;
  }
}

/* Testimoni selesai */

/* Footer */

*{
    padding: 0;
    margin: 0;
}

html {
    background-color: #ffffff;
}

body{
    font: 16px/1.6 arial, sans-serif;
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 190px;
}

header h1 {
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #00922c;
    padding-top: 16px;
}

header h2 {
    color: #000000;
    font-size: 30px;
}

footer {
    position: fixed;
    bottom: 0;
}


.footer {
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer.footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer.footer-left .credit-cards {
    width: 100%;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;   
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

@media (max-width: 880px) {

    .footer.footer-left,
    .footer .footer-center,
    .footer .footer-right {
         display: block;
         width: 100%;
         margin-bottom: 40px;
         text-align: left;

         .footer .footer-center i {
            margin-left: 0px;
         }
}

/* Footer Selesai */
